.Button {
  border: 1px solid var(--preto);
  padding: 0.25rem 0.75rem;
  color: var(--cinza);
}

.Button[variant="primary"] {
  background: var(--verde);
}

.Button[variant="secondary"] {
  background: var(--rosa);
}
