.Header {
  background: var(--preto);
  color: var(--cinza);
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header a {
  text-decoration: none;
  color: var(--cinza);
}

.Header h1 {
  font-size: 1.3rem;
}

.Header h1 span {
  color: var(--rosa);
}
